.not-found-box {
    background-color: #F39C12;
}

.placeholder-box {
    margin-top: -10rem;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 20rem;
    font-weight: 700;
}

h2 {
    font-size: 3rem;
}

svg {
    margin-bottom: -10rem;
}

button {
    font-size: 1.5rem;
    font-weight: 500;
    width: 8rem;
}