.todo-box {
    padding: 4rem 6rem;
    height: 90vh !important;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content minmax(0, 1fr);
}

@media (max-width: 700px) {
    .todo-box {
        padding: 4rem 4rem;
        height: 75vh !important;
    }
}


.info-bar {
    width: 100%;
}

.tasks-list {
    width: 100%;
    height: 100%;
}

h2, h3, h4 {
    color: #aeaeaf;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 3rem;
    font-weight: 400;
}

h4 {
    font-size: 2rem;
}
