.weather-box {
    background-color: #3498DB;
    padding: 4rem;
    height: 100%;
}

h1, h2, h3, p {
    font-weight: 300;
    color: white;
}

h1 { 
    font-size: 8rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
}

svg { 
    margin: auto;
}

.icon-box {
    background-color: #18BC9C;
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
}