<div class="module-box pomodoro-box d-flex flex-column align-items-center justify-content-between" [ngClass]="{'bg-focus': this.mode === 'focus'}">
    <div class="controls">
        <button class="btn btn-primary mr-5" type="button" (click)="onSwitchToPomodoro()">Skupienie</button>
        <button class="btn btn-primary" type="button" (click)="onSwitchToShortBreak()">Krótka przerwa</button>
        <button class="btn btn-primary ml-5" type="button" (click)="onSwitchToLongBreak()">Długa przerwa</button>
    </div>
    
    <div [ngSwitch]="this.mode" class="timer-box">
        <app-timer *ngSwitchCase="'focus'" [m]=25 [s]=0 (onComplete)="onTimerComplete(content)"></app-timer>
        <app-timer *ngSwitchCase="'short'" [m]=5 [s]=0 (onComplete)="onTimerComplete(content)"></app-timer>
        <app-timer *ngSwitchCase="'long'" [m]=15 [s]=0 (onComplete)="onTimerComplete(content)"></app-timer>
    </div>
    
    <p class="counter">Ukończyłeś {{ pomodoroCount }} sesji Pomodoro.</p>
    
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Time's up!</h4>
            <button class="close" type="button" aria-label="Close" (click)=d()>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>{{ message }}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-dark" type="button" (click)="c()">Close</button>
        </div>
    </ng-template>
</div>
