<div class="module-box pomodoro-box d-flex flex-column align-items-center justify-content-between" [ngClass]="{'bg-focus': this.mode === 'focus'}" *ngIf="!isTasksDataLoading">
    <div class="controls">
        <button class="btn btn-primary mr-5" type="button" (click)="onSwitchToPomodoro()">Skupienie</button>
        <button class="btn btn-primary" type="button" (click)="onSwitchToShortBreak()">Krótka przerwa</button>
        <button class="btn btn-primary ml-5" type="button" (click)="onSwitchToLongBreak()">Długa przerwa</button>
    </div>

    <div [ngSwitch]="this.mode" class="timer-box">
        <app-timer *ngSwitchCase="'focus'"></app-timer>
        <app-timer *ngSwitchCase="'short'"></app-timer>
        <app-timer *ngSwitchCase="'long'"></app-timer>
    </div>

    <!-- <p class="counter">Masz  Do dzieła.</p> -->
    <div class="tasksSelect" [ngSwitch]="this.todayTasksCount">
        <p class="counter" *ngSwitchCase="0">Nie masz zaplanowanych zadań na dziś.</p>
        <p class="counter" *ngSwitchDefault>Nad czym teraz pracujesz?</p>
        <select #selectElem (change)="setNewTask(selectElem.value)" class="form-control form-control-lg" [ngModel]="currentTask.taskName" *ngSwitchDefault>
            <option *ngFor="let task of todayTasksList" [value]="task.taskName">
                {{task.taskName}} ({{task.taskCyclesDone ? task.taskCyclesDone : 0}}/{{task.taskCycles}})
            </option>
        </select>
    </div>
</div>

<div class="module-box pomodoro-box d-flex flex-column align-items-center justify-content-between" [ngClass]="{'bg-focus': this.mode === 'focus'}" *ngIf="isTasksDataLoading">
  <h3>Ładowanie...</h3>
</div>

