.tasks-list-box {
    width: 100%;
    height: 100%;
}

ul {
    height: 100%;
    overflow-y: auto;
}

h2 {
    color: #000;
    font-weight: 400;
}

.list-group-item {
    font-size: 1.8rem;
    background-color: #f8f9fa;
}

button {
    width: 3.5rem;
    height: 3.5rem;
}

.terminated {
    color: #E74C3C;
    font-weight: 500;
}

.invitational {
  color: #18BC9C;
}
